* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Varela Round", sans-serif;
    background-color: white;
    color: black;
}

nav {
    font-size: 1.2rem;
    background-color: #85ff5c;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 15px;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav ul li a:hover{
    color: rgb(234, 255, 226);
}

.logo {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

.logo h3{
    margin: 0;
}

/* main body */
h1 {
    margin: 15px 0;
}

.container {
    margin: 50px auto;
    max-width: 75vw;
}

.inputBox{
    width: 80px;
    height: 22px;
    padding: 2px 5px;
    border-radius: 3px;
    border: 2px solid black;
}

.btn {
    padding: 8px 16px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 8px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 0;
    cursor: pointer;
}


#weight-guide{
    margin: 40px 0;
}

#weight-guide p, #weight-guide h3{
    margin: 12px 0;
}